{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'video_streamer/style.css' %}" />
	<title>Video Streamer</title>
</head>

<body>
	<div class="navmenu">
		{% block navmenu %}
		<nav>
			<ul>
				<li><a href="{% url 'video_streamer:index' %}">Main Page</a></li>
				<li><a href="{% url 'video_streamer:video_index'%}">View Available Videos</a></li>
			</ul>
		</nav>
		{% endblock %}
	</div>
	<div class="content">
		{% block content %}
		<article>
			<h2>Welcome to Not YouTube</h2>
		</article>
		{% endblock %}
	</div>
</body>
</html>